@font-face {
	font-family: "Gilroy";
	src: url("./Gilroy-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./Gilroy-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./Gilroy-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./Gilroy-ExtraBold.ttf") format("ttf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./Gilroy-Heavy.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
}
