<p class="private__text">
	ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ Этот документ описывает политику
	конфиденциальности для сайта https://napoli.ua/ (далее — Сайт). В этом
	документе объясняется, какие виды информации могут быть собраны и храниться
	Администрацией Сайта, а также как может использоваться и предоставляться эта
	информация. Сбор и использование персональных данных Персональные данные —
	это сведения или совокупность сведений о физическом лице, которое
	идентифицировано или может быть идентифицировано. Посетитель — это
	дееспособное физическое лицо, которое осуществляет просмотр предложений к
	продаже, размещенных на Сайте, и/или осуществляет Заказ товаров/услуг,
	предложения о которых размещены на Сайте, участвует в акциях, размещенных на
	Сайте, для целей, не связанных с осуществлением предпринимательской
	деятельности, или юридическое лицо, или физическое лицо-предприниматель.
	Посетитель путем посещения Сайта, осуществления Заказа и/или путем
	заполнения формы для регистрации на Сайте, и/или участия в акции, и/или при
	любой коммуникации с Администрацией Сайта (переписка, телефонный разговор и
	т.п.) подтверждает предоставление Администрации Сайта согласия на обработку,
	хранение и использование его персональных данных, согласно Закону Украины «О
	защите персональных данных» от 01 июня 2010 № 2297-VІ, и других
	нормативно-правовых актов Украины, касающихся защиты персональных данных.
	Предоставление Посетителем персональных данных является добровольным и
	необходимым для осуществления Заказа товаров/услуг, предложения о которых
	размещены на Сайте. Существует обязательный перечень информации, которая
	должна быть внесена и/или предоставлена Посетителем при осуществлении Заказа
	на Сайте. Без указания такой обязательной информации на украинском языке
	выполнения Заказов продавцами товаров/услуг, предложения о которых размещены
	на Сайте, могут быть некорректными, усложнены или даже невозможны.
	Посетитель несет ответственность за достоверность и актуальность
	персональных данных, указанных/предоставленных при осуществлении Заказа,
	регистрации на Сайте, при переписке, телефонном разговоре, любой другой
	коммуникации с Администрацией Сайта, а также за своевременность уведомления
	об их изменении. Администрация Сайта не обязана проверять соответствие
	действительности сведений, указанных Посетителем. Обязательная информация,
	которая должна быть предоставлена, внесена Посетителем при осуществлении
	Заказа и/или при регистрации на Сайте, является следующая: имя, фамилия,
	номер мобильного телефона, адрес электронной почты (e-mail). Посетителю
	может быть предложено предоставить и другие персональные данные для
	регистрации на Сайте и/или использования других сервисов Сайта. Посетитель
	путем посещения Сайта, осуществления Заказа и/или путем заполнения формы для
	регистрации на Сайте, и/или участия в акции, и/или при любой коммуникации с
	Администрацией Сайта (переписка, телефонный разговор и т.п.) также
	подтверждает предоставление Администрации Сайта согласия на обработку,
	хранение и использование информации о соединении, трафике, дате и времени
	продолжительности нахождения Посетителя на Сайте. Персональные данные
	Посетителей обрабатываются, используются, сохраняются для обеспечения обмена
	информацией с партнерами Сайта, отношений в сфере рекламы и коммуникации,
	для отправки Посетителю почтой, электронной почтой, телефоном и/или SMS
	и/или Viber и/или Telegram, другими мессенджерами любой информации
	коммерческого и/или информационного характера и т.д. в соответствии с
	действующим законодательством Украины, на что Посетителем Сайта путем
	посещения Сайта, осуществления Заказа и/или путем заполнения формы для
	регистрации на Сайте было дано согласие. Персональные данные Посетителей
	могут храниться в течение срока, необходимого Администрации Сайта для
	достижения целей деятельности последнего, на что Посетителем Сайта путем
	посещения Сайта, осуществления Заказа и/или путем заполнения формы для
	регистрации на Сайте было дано согласие. На сайте фиксируется доменное имя
	или IP-адрес устройства Посетителя, дата доступа, файлы (имя файла и URL),
	код ответа HTTP и веб-сайт, с которого Посетитель попал на Сайт, количество
	байт, переданных во время сессии, на что Посетителем Сайта путем посещения
	Сайта, осуществления Заказа и/или путем заполнения формы для регистрации на
	Сайте было дано согласие. При работе Сайта используются файлы cookie, на что
	Посетителем Сайта путем посещения Сайта, осуществления Заказа и/или путем
	заполнения формы для регистрации на Сайте было дано согласие. Администрация
	Сайта использует cookies для определения характеристик Сайта и предложений,
	которые Посетителю больше всего нравятся, с целью предоставления ему больше
	информации, в которой Посетитель заинтересован. Кроме того, файлы cookie
	используются, чтобы сделать Сайт безопасным, защищенным и удобным. Файлы
	cookie обеспечивают поддержку безопасности и их запуск. Файлы cookie также
	позволяют отслеживать нарушения политики конфиденциальности, других
	соглашений/правил Сайта Посетителями или их устройствами. Файлы cookie
	помогают оценить количество и частоту запросов, а также выявлять и
	блокировать тех посетителей или устройства, которые пытаются выполнить
	пакетные загрузки информации с сайта. С помощью системы Google Analytics
	собирается статистика о посещении Сайта, в частности о посещаемых страницах,
	количестве просмотров страниц, загруженной информации, доменах
	интернет-провайдеров и стран происхождения Посетителей, а также адресах
	веб-сайтов, посещенных до и после Сайта и т.п., на что Посетителем Сайта
	путем посещения Сайта, осуществления Заказа и/или путем заполнения формы для
	регистрации на Сайте было дано согласие. Администрация Сайта не может
	гарантировать полной защиты персональных данных Посетителя, однако будет
	прилагать все усилия для защиты персональных данных на самом высоком уровне.
	Условия предоставления информации (Disclaimer) Сайт может содержать ссылку
	на другие веб-сайты. Такие ссылки приводятся исключительно для
	информационных целей и помогают нам более полно раскрыть информацию или
	иллюстрируют размещенный материал. Тот факт, что мы даем ссылку на внешний
	ресурс, не означает, что мы полностью одобряем изложенные там позиции или
	идеи, а также не гарантируем достоверность размещаемой там информации. Мы не
	несем ответственности за политику конфиденциальности или содержание этих
	сайтов. Если у вас возникли вопросы или сомнения относительно этой политики,
	Вы можете связаться с нами по адресу, размещенному на Сайте Автоматический
	сбор и использование информации Автоматически собирается и хранится
	следующая информация, на что Посетителем Сайта путем посещения Сайта,
	осуществления Заказа и/или путем заполнения формы для регистрации на Сайте
	предоставляется согласие: доменное имя, IP-адрес, с помощью которого вы
	заходите на Сайт; вид браузера и операционной системы; дата и время
	посещения Сайта; просмотренные страницы; если Вы перешли на Сайт по ссылке с
	другого сайта — это адрес этого сайта. Сведения о трафике, проходящем через
	сеть, по электронной почте, и активности посетителя в сети Интернет на Сайте
	защищены в соответствии с законодательством Украины. Это означает, что Сайт
	не может вмешиваться в тайну телекоммуникаций. Мы имеем право предоставить
	любую личную информацию Посетителей Сайта по требованию правоохранительных
	органов, по определению/решению суда или в рамках других законных процедур,
	или по другому правомерному требованию, согласно действующему
	законодательству Украины. Мы не несем ответственности за упущенную выгоду,
	неполученную прибыль, потерю данных или любые другие убытки Посетителей
	Сайта, если таковые возникли при пользовании Сайтом. Посетитель Сайта
	использует Сайт на свой риск. В пределах, максимально разрешенных законом,
	ни Сайт, ни какая-либо другая сторона, привлеченная к созданию, производству
	или обслуживанию Сайта, не несет ответственности за прямое, косвенное или
	случайное повреждение, которое когда-либо наносилось и нанесено тем, что
	Посетитель имел доступ к Сайту, пользовался им или ожидал его, даже если
	Посетитель был предупрежден о возможности таких повреждений и потерь. Мы не
	гарантируем и не утверждаем, что использование материала, предоставляемого
	на Сайте, не помешает интересам третьих лиц. Все права на содержание Сайта
	принадлежат Администрации Сайта или используются с согласия с
	правообладателями. Этот сайт в целом и его отдельные элементы охраняются
	актами действующего законодательства Украины и международными договорами.
	Посетители Сайта не должны распространять, изменять, передавать,
	пользоваться или использовать повторно какую-либо информацию из Сайта для
	каких-либо публичных или коммерческих целей без письменного разрешения
	Администрации Сайта. Посетители должны соблюдать все права интеллектуальной
	собственности на загруженные и/или скопированные материалы. Скопированная
	информация должна содержать активную ссылку на Сайт. Копирование информации
	с Сайта может быть осуществлено исключительно в некоммерческих целях для
	размещения на страницах Посетителя, в блогах, социальных сетях. При работе с
	Сайтом Посетителю не предоставляются права ни на интеллектуальную
	собственность, ни на сам Сайт, ни на его содержание или использование
	каких-либо элементов брендинга или логотипов Сайта. Если Вы посещаете этот
	Сайт, то Вы автоматически соглашаетесь с настоящей Политикой
	Конфиденциальности и ее условиями. Если Вы не согласны с действующей
	Политикой Конфиденциальности и ее условиями, Вы должны покинуть этот Сайт.
	Изменение Политики конфиденциальности Посетитель, пользуясь Сайтом, принял
	условия настоящей Политики Конфиденциальности, учитывает и соглашается с
	тем, что эта Политика Конфиденциальности может время от времени изменяться
	единолично Администрацией Сайта. Изменения, внесенные в Политику
	конфиденциальности, публикуются на этой странице Сайта. В некоторых случаях
	Администрация Сайта оставляет за собой право публиковать отдельные
	примечания по конфиденциальности для определенных программ.
</p>
