<div class="tools">
	<div class="tools__html">
		<img
			class="tools__html-img"
			src="../images/tools/html.png"
			alt="html"
		/>
		<span class="tools__html-color"> </span>
	</div>
	<div class="tools__css">
		<img class="tools__css-img" src="../images/tools/css.png" alt="css" />
		<span class="tools__css-color"> </span>
	</div>
	<div class="tools__js">
		<img
			class="tools__js-img"
			src="../images/tools/javascript.png"
			alt="js"
		/>
		<span class="tools__js-color"> </span>
	</div>
	<div class="tools__sublime">
		<img
			class="tools__sublime-img"
			src="../images/tools/sublime.png"
			alt="sublime"
		/>
		<span class="tools__sublime-color"> </span>
	</div>
	<div class="tools__studio">
		<img
			class="tools__studio-img"
			src="../images/tools/visualStudio.png"
			alt="studio"
		/>
		<span class="tools__studio-color"> </span>
	</div>
</div>
